.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 12px;
}

.input {
  width: 340px;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.input:focus,
.input:hover {
  outline: none;
  border: 1px solid lightseagreen;
}
